.idea
db/tweet.json
db/user.json
front_status.json

__pycache__/
dataaccess/__pycache__/
db/__pycache__/
model/__pycache__/
service/__pycache__/




# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
